<h1>Players#show</h1>
<section>
  <%= @player.player_name %>
  <%= link_to 'Add', "/subscriptions/",id:#{@player.id}, method: :post %>
  <%= link_to 'Delete', "/subscriptions/#{@player.id}", method: :delete %>
  <ul>
    <% @player.notes.reverse.each do |note| %>
      <li><strong><%= note.note_date %></strong>
      <br>
      <a href=<%= note.link_title %> target="_blank"><%= note.note_preview.html_safe %></li></a>

    <% end %>
  </ul>
</section>
