<nav class="navbar">
  <div class="nav-container">
    
      <a class="navbar-Logo" href="/">FantasyRadar</a>
    
    
      <ul class="nav-list">
        <li>
        <%= link_to 'Subscriptions', :subscriptions %>
        </li>
        <li>
          <%= link_to 'Update Notes', "/admin/player_notes/new" %>
        </li>
           <li> 
              <div>
              <%# rendering current user or signup link %>
                <% if current_user %>
                  Signed in as <%= current_user.first_name %> <%= link_to 'Update Profile', "/users/#{session[:user_id]}/edit" %> | <%= link_to "Logout", '/logout' %>
                <% else %>
                  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
                <% end %>
              </div>
            </li>
      </ul>
    
  </div>
</nav>